/* Root and body */

html{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish_violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);

}

body{
    margin: 0;
    padding: 0;
}

/* Typography */

/* Main */

main{
    display: flex;
    /* flex-direction: column; */

}



#card-front{
    position: absolute;
    color: var(--White);
    bottom: 45%;
    left: 12%;
}

#logo{
    position: absolute;
    top: 10%;
    left: 5%;
}

#card-num{
    position: absolute;
    bottom: 15%;
    left: 4%;
    font-size:1.7rem;
    letter-spacing: 0.2rem;
}

#card-name{
    position: absolute;
    bottom:1%;
    left: 4%;
}

#card-exp{
    position: absolute;
    bottom: 1%;
    right: 12%;
}

#card-back{
    position: absolute;
    bottom: 7%;
    left: 19%;
}

#cvc{
    position: absolute;
    top: 37%;
    right: 20%;
    color: var(--White);
}

#formbg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 35%;
    min-width: 200px;
    font-size: 0.65rem;
    text-transform: uppercase;
    color: var(--Very_dark_violet);
    font-weight: 600;
}

#date_exp{
    display: flex;
    justify-content: space-between;
}


#conf{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#btn{
    width: 100%;
    height: 3em;
    background-color: var(--Very_dark_violet);
    color: var(--White);
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

.inp_sec{
    width: 100%;
    height: 2.5em;
    margin-bottom: 1em;
    border: 2px solid var(--Light_grayish_violet);
    border-radius: 6px;
    color: var(--Very_dark_violet);
    font-weight: 600;
    transition: all 0.4s;
}

.inp_sec:focus{
    outline: none;
    border: 2px solid var(--Very_dark_violet);
}

#month,#year{
    width: 30%;
}

#cvcnum{
    width: 80%;
}

#datediv{
    width: 87%;
}

#cvcdiv{
    width: 50%;
}

/* Footer */
.attribution { font-size: 11px; text-align: center; background-color: darkblue; }
.attribution a { color: hsl(228, 45%, 44%); }